<?xml version="1.0"?>
<launch>
  <!-- Import Fetch robot -->
  <include file="$(find fetch_gazebo)/launch/include/fetch_pp.launch.xml" />
  <include file="$(find fetch_moveit_config)/launch/move_group.launch"/>

  <!-- Import object models -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch"> 
    <arg name="gui" value="true"/>
    <arg name="use_sim_time" value="true"/> 
    <arg name="world_name" value="$(find team2_gazebo)/worlds/camera.sdf"/>
  </include>

  <!-- Spawn Kinect camera model -->
  <arg name="model" default="$(find team2_gazebo)/urdf/camera.urdf.xacro"/>
  <param name="camera_description" command="$(find xacro)/xacro $(arg model)" />
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" 
        args="-urdf -x 2.0 -z 2.12 -param camera_description -model camera" />

  <!-- RViz -->
  <arg name="rvizconfig" value="$(find team2_gazebo)/config/camera.rviz"/>
  <node name="rviz" pkg="rviz" type="rviz" required="true" args="-d $(arg rvizconfig)" />

</launch>
